<main>
  <div class="page-title">
    <h1 class="main-title">DOAÇÕES</h1>
  </div>
  <section class="main-section">
    <div class="donation-text">
      <h1 class="help">QUER AJUDAR A GENTE?</h1>

      <p class="donation-subtext"> Existem muitas formas de nos ajudar a cuidar dos mais de 450 cães que cuidamos e alimentamos todos os dias, fora os cães que ajudamos a sustentar de outros protetores.</p>

      <p class="donation-subtext"> Você pode doar ração, cobertores, medicamentos, material de limpeza e de procedimento ou fazer uma doação em dinheiro, o que nos ajuda no pagamento de despesas como conta de água, luz, telefone, internet, funcionários, impostos, compra de ração, medicamentos, veterinários, exames laboratoriais, procedimentos cirúrgicos, combustível, feiras de adoção, entre tantas outras</p>
    </div>
    <div class="donation-info">

      <div class="bank-info">
        <img src="../../../assets/img/bank-icon.svg" alt="Banco">
        <p class="account-details">BANCO SICOOB <br>
          ASSOCIAÇÃO EM DEFESA DOS ANIMAIS - FOCINHOS GELADOS <br>
          Banco: 756 <br>
          Agência: 0001-9 <br>
          Conta Corrente: 64.621.180-3 <br>
          CNPJ: 23.054.623/0001-42
        </p>
      </div>
    </div>
  </section>
</main>
