<main>
  <div class="page-title">
    <h1 class="main-title">FALE CONOSCO</h1>
  </div>
  <section class="main-section">
    <div class="contact-info">
      <div class="contact-section">
        <h1 class="contact-title">CONTATOS POR EMAIL</h1>
        <p>Fale com o Presidente: presidente&#64;focinhosgelados.com.br</p>
        <p>Geral: faleconosco&#64;focinhosgelados.com.br</p>
        <p>Apadrinhamento: apadrinhamento&#64;focinhosgelados.com.br</p>
        <p>Adoção de Animais: adocao&#64;focinhosgelados.com.br</p>
        <p>Denúncias, reclamações e sugestões: reclamacoes&#64;focinhosgelados.com.br</p>
      </div>
      <div class="contact-section">
        <h1 class="contact-title">REDES SOCIAIS</h1>
        <p><a href="https://www.facebook.com/p/Focinhos-Gelados-100064929060329">Facebook</a></p>
        <p><a href="#">Instagram</a></p>
      </div>
      <div class="contact-section">
        <h1 class="contact-title">TELEFONES</h1>
        <p>35 3295-7455</p>
        <p>35 99276-6333 (WhatsApp)</p>
      </div>
    </div>
    <img src="../../../assets/img/tabby-cat.png" alt="Gato" width="669" height="536">
  </section>
</main>
