<main>
  <div class="page-title">
    <h1 class="main-title">QUEM SOMOS</h1>
  </div>
  <section class="about-section">
    <div class="about-item">
      <div class="about-text">
        <h1>Nossa História</h1>
        <p>Entidade sem fins lucrativos, criada em agosto de 2015, na cidade de Carvalhópolis – MG, por meio de iniciativa popular. Conta com voluntários para realizar ações em prol dos cuidados e bem estar animal, principalmente, dos animais em situação de rua ou vulnerabilidade.<br>Desde a criação, a ONG já realizou dezenas de atendimentos clínicos veterinários, cirurgias, castrações e campanhas de vacinação e adoção.
          </p>
      </div>
      <img src="/assets/img/focinhos-gelados-logo.png" alt="Logo" width="385" height="372">
    </div>

    <div class="about-item">
      <img src="/assets/img/target.svg" alt="Logo" width="385" height="372">
      <div class="about-text">
        <h1>Nossa Missão</h1>
        <p>Nossa missão é resgatar, proteger e promover o bem-estar dos animais em situação de rua ou vulnerabilidade. Trabalhamos incansavelmente para oferecer cuidados essenciais, tratamentos médicos e um lar seguro para cada animal que cruzar nosso caminho. Nosso compromisso é com a dignidade e o respeito a todas as formas de vida, buscando um mundo onde todos os animais possam viver livres de sofrimento.</p>
      </div>
    </div>

    <div class="about-item">
      <div class="about-text">
        <h1>Nossos Valores</h1>
        <p>Compromisso com a Vida: Valorizamos cada vida animal e nos dedicamos a garantir seu bem-estar e dignidade. <br>
          Solidariedade: Acreditamos na força da comunidade e na importância do trabalho voluntário para transformar a realidade dos animais abandonados. <br>
          Responsabilidade: Atuamos de forma ética e transparente, sempre guiados pelo respeito aos animais e ao meio ambiente. <br>
          Empatia: Buscamos entender e atender as necessidades de cada animal, tratando-os com o carinho e cuidado que merecem. <br>
          Respeito: Promovemos uma cultura de respeito aos animais, educando e sensibilizando a sociedade sobre a importância de protegê-los e cuidá-los.</p>
      </div>
      <img src="/assets/img/scales.png" alt="Logo" width="385" height="372">
    </div>

  </section>

  <section class="about-staff">
    <div class="section-title">
      <h1 class="staff-title">Nossa Equipe</h1>
    </div>
    <div class="staff">
      <div class="staff-member">
        <img src="/assets/img/sirlei.png" alt="Equipe 1" class="staff-member_image" width="202" height="202">
        <span class="staff-member_name">Sirlei Mariano - Presidente</span>
      </div>

      <div class="staff-member">
        <img src="/assets/img/luciana.png" alt="Equipe 2" class="staff-member_image" width="202" height="202">
        <span class="staff-member_name">Luciana Reis - Vice-Presidente</span>
      </div>

      <div class="staff-member">
        <img src="/assets/img/kessia.png" alt="Equipe 3" class="staff-member_image" width="202" height="202">
        <span class="staff-member_name">Késsia Carvalho - Tesoureira</span>
      </div>

    </div>
  </section>
</main>
