<main>
  <div class="page-title">
    <h1 class="main-title">QUEM SOMOS</h1>
  </div>
  <section class="about-section">
    <div class="about-item">
      <div class="about-text">
        <h1>Nossa História</h1>
        <p>A Focinhos Gelados foi fundada em 2015 com um amor inabalável pelos animais e o desejo de garantir que todos os pets recebam o cuidado e o carinho que merecem. Desde o início, nosso objetivo sempre foi oferecer produtos e serviços de alta qualidade, projetados para melhorar a vida dos nossos amigos de quatro patas. Ao longo dos anos, nos tornamos uma referência em cuidados para animais, oferecendo uma variedade de produtos inovadores e serviços de excelência.</p>
      </div>
      <img src="/assets/img/focinhos-gelados-logo.png" alt="Logo" width="385" height="372">
    </div>

    <div class="about-item">
      <img src="/assets/img/focinhos-gelados-logo.png" alt="Logo" width="385" height="372">
      <div class="about-text">
        <h1>Nossa Missão</h1>
        <p>Na Focinhos Gelados, acreditamos que cada pet é único e merece ser tratado com o máximo de respeito e atenção. Nossa missão é proporcionar aos donos de pets soluções práticas e confiáveis que garantam o bem-estar e a felicidade de seus animais. Estamos comprometidos em criar uma comunidade onde os laços entre humanos e animais sejam fortalecidos a cada dia.</p>
      </div>
    </div>

    <div class="about-item">
      <div class="about-text">
        <h1>Nossos Valores</h1>
        <p>Amor pelos Animais: Cada decisão que tomamos é guiada pelo profundo respeito e carinho que temos pelos pets. <br>
          Qualidade: Nos dedicamos a oferecer apenas os melhores produtos e serviços, garantindo a satisfação dos nossos clientes. <br>
          Inovação: Buscamos constantemente novas maneiras de melhorar a vida dos pets e facilitar a rotina de seus donos. <br>
          Responsabilidade: Atuamos de forma ética e responsável, sempre com o bem-estar animal em mente.</p>
      </div>
      <img src="/assets/img/focinhos-gelados-logo.png" alt="Logo" width="385" height="372">
    </div>

  </section>

  <section class="about-staff">
    <div class="section-title">
      <h1 class="staff-title">Nossa Equipe</h1>
    </div>
    <div class="staff">
      <div class="staff-member">
        <img src="/assets/img/focinhos-gelados-logo.png" alt="Equipe 1" class="staff-member_image" width="202" height="202">
        <span class="staff-member_name">Nome do Integrante</span>
      </div>

      <div class="staff-member">
        <img src="/assets/img/focinhos-gelados-logo.png" alt="Equipe 2" class="staff-member_image" width="202" height="202">
        <span class="staff-member_name">Nome do Integrante</span>
      </div>

      <div class="staff-member">
        <img src="/assets/img/focinhos-gelados-logo.png" alt="Equipe 3" class="staff-member_image" width="202" height="202">
        <span class="staff-member_name">Nome do Integrante</span>
      </div>

      <div class="staff-member">
        <img src="/assets/img/focinhos-gelados-logo.png" alt="Equipe 4" class="staff-member_image" width="202" height="202">
        <span class="staff-member_name">Nome do Integrante</span>
      </div>
    </div>
  </section>
</main>
