@import '../../colors.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: $background-color-2;

  font-family: 'Roboto', sans-serif;

  padding: 10px 0;

  h1 {
    font-size: 20px;
    font-weight: 700;
    color: $text-white;
    text-decoration: none;
    margin: 0 10px;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 10px;

    img {
      margin: 0 10px;
    }
  }
}
