<footer class="footer">
  <h1>&#64;2024 Focinhos Gelados</h1>
  <div class="social-media">
    <a href="#">
      <img src="../../../assets/img/logo-instagram.svg" alt="Instagram">
    </a>
    <a href="https://www.facebook.com/p/Focinhos-Gelados-100064929060329/?_rdr" target="_blank">
      <img src="../../../assets/img/logo-facebook.svg" alt="Facebook">
    </a>
    <a href="https://wa.me/+553598860914">
      <img src="../../../assets/img/logo-whatsapp.svg" alt="WhatsApp" target="_blank">
    </a>
  </div>
</footer>
