<header class="custom-toolbar">
  <img ngSrc="/assets/img/focinhos-gelados-logo.png" alt="Focinhos Gelados" class="logo" priority height="100" width="100">
  <span class="spacer"></span>
  <nav>
    <mat-button class="nav-button" routerLink="/" >
      HOME
    </mat-button>
    <mat-button class="nav-button" routerLink="/about" >
      QUEM SOMOS
    </mat-button>
    <mat-button class="nav-button" routerLink="/donations" >
      DOAÇÕES
    </mat-button>
    <mat-button class="nav-button" routerLink="/contact">
      FALE CONOSCO
    </mat-button>
  </nav>
</header>
