$custom-app-primary: #F0803C;
$custom-app-secondary: #FBC57F;
$detail-color: #7AC0DA;
$background-color-1: #B7E5E7;
$background-color-2: #45739F;
$color-neutral: #FDF0C4;

$primary-text: #0F172A;
$secondary-text: #475569;
$text-white: #FFFFFF;
